.MMM-Recipe {
	width: 60%;
}
.MMM-Recipe #flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 55%; 
    margin: 0 auto;
	float: left;
}

.MMM-Recipe .flex-item {
    width: 60.5%;
    height: 100px;
    align-items: left;
    line-height: 65%;	
}
.MMM-Recipe .ingreid {
	font-size: 13px;
	color: white;
}
.MMM-Recipe ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  height: 200px; 
}
.MMM-Recipe li {
  height: 12%;
  text-align: justify;
  text-justify: inter-word;
  padding-left: 10px;
  
}
.MMM-Recipe .limit{
    width:320px; 
	padding-bottom: 10px;
	font-size: .65em;
	line-height: 89%;
	float: left;
}
.MMM-Recipe .thumbs{
	float: left;
	margin: 10px;
	width: 138px;
	height: 137px;
	border:12px solid white;
}
.MMM-Recipe .video { 
	font-size: .5em;
    float: left;
    margin: 10px;	
}
.MMM-Recipe rname { 
font-size: .65em;
line-height: 130%; 
}
.MMM-Recipe .title { 
	font-size: .58em;
    line-height: 90%;
    float: left;
	color: white;
} 
.MMM-Recipe label {
      display: inline-block; 
      color: #fff;
      background-color: #3c8dbc;
      border-color: #367fa9;
      border-radius: 2px;
      cursor: pointer;
	  padding: 8px;
	  
    }
    .checker:checked + .modal {
      display: flex;
    }
.MMM-Recipe .modal {
      display: none;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: center;
      background-color: rgba(0,0,0,.8); 
	  font-size: 1em;
    }
.MMM-Recipe  .modal-body {
      width: 400px;
      background-color: #000;
	  color: #fff;
      border-radius: 4px;
      padding: 15px;
    }
 .MMM-Recipe .modal-content {
	  line-height: 1.1em;
      font-size: .87em;	  
      padding: 5px; 
    }

.MMM-Recipe .modal-content .columns {
    column-count: 2;
}
 .MMM-Recipe .modal-footer {
      overflow: hidden;
    }
