  .MMM-Recipe ul {
  list-style: none;
  padding: 5px;
  margin: 0;
  width: 90%; 
} 
.MMM-Recipe .video { 
	font-size: .5em;
    float: left;
    margin: 10px;	
} 
.MMM-Recipe .title { 
	font-size: .58em;
    line-height: 85%;
    float: left;
	color: white;
} 
.MMM-Recipe label {
	  outline: solid 1px #6699CC;
      display: inline-block; 
      color: #fff;
      background-color: #3c8dbc;
      border-color: #367fa9;
      border-radius: 2px;
      cursor: pointer;
	  padding: 8px;
    }
.MMM-Recipe label:hover{
	outline-width: 3px;
	background-color: #fff;
	color: #3c8dbc;
	text-shadow: 2px 2px 8px #000;
}
    .checker:checked + .modal {
      display: flex;
    }
.MMM-Recipe .modal {
      display: none;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: center;
      background-color: rgba(0,0,0,.8); 
	  font-size: 1em;
    }
.MMM-Recipe  .modal-body {
	  width: 65%;
      column-count: 3;
	  column-span: all;
	  column-gap: 10px;
      background-color: #434343;
	  color: #fff;
      border-radius: 4px;
      padding: 10px;
    }
 .MMM-Recipe .modal-content {
	  column-count: 2;
	  line-height: 1.1em;
      font-size: .87em;	  
      padding: 5px; 
    }
 .MMM-Recipe .modal-footer {
      overflow: hidden;
    }
